<header class="header">
    <nav class="header-nav">
        <div class="logo"></div>
        <ul class="nav-ul">
            <li class="nav-li"><a class="nav-link" href="#" name="myProfile">My Profile</a></li>
            <li class="nav-li"><a class="nav-link" href="#" name="profileSettings">Settings</a></li>
            <li class="nav-li"><a class="nav-link" href="#">Messages</a></li>
            <li class="nav-li"><a class="nav-link" href="#">Bell</a></li>
            <li class="nav-li"><a class="nav-link" href="#" name="logout">Logout</a></li>
        </ul>
        <input type="text" class="nav-search" name="searchUserProfiles" placeholder="search">
    </nav>
</header>


<div class="content">
    <aside class="left">
        <div class="profile">
            <img class="profile-bg" src="img/profileBg.jpg" alt="profile_bg">
            <div class="photo-wrapper">
                <img class="photo" src="{{#if profile.photo}}{{profile.photo}}{{else}}img/default-user.jpg{{/if}}" alt="profile_Photo">
            </div>
            <div class="profile-info">
                <p class="username">{{#if profile.firstname}}{{profile.firstname}}{{else}}Firstname{{/if}} {{#if profile.lastname}}{{profile.lastname}}{{else}}Lastname{{/if}}</p>
                <p class="quote">{{#if profile.quote}}{{profile.quote}}{{else}}No comments...{{/if}}</p>
                <div class="counters">
                    <div class="friends">
                        <p class="friends-text">Friends</p>
                        <p class="friends-count">{{friendsCount}}</p>
                    </div>
                    <div class="enemies">
                        <p class="enemies-text">Enemies</p>
                        <p class="enemies-count">{{enemiesCount}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="about">
            <p class="title">About</p>
            <ul class="list">
                <li class="list-item">
                    <i class="fa fa-calendar icon" aria-hidden="true"></i> 
                    <p class="text">Went to: {{profile.went}}</p>
                </li>
                <li class="list-item">
                    <i class="fa fa-home icon" aria-hidden="true"></i> 
                    <p class="text">Lives in: {{profile.lived}}</p>
                </li>
                <li class="list-item">
                    <i class="fa fa-map-marker icon" aria-hidden="true"></i> 
                    <p class="text">From: {{profile.from}}</p>
                </li>
            </ul>
        </div>

        <div class="albums">
            <div class="title">
                <p class="title-text">Albums</p>
                <a class="title-link" href="#">show more</a>
            </div>
            <div class="content">
                <div class="item"></div>
                <div class="item"></div>
            </div>
        </div>
    </aside>

    <div class="wall">
        <div class="post-form">
            <div class="form-wrapper">
                <input class="form-input" placeholder="Message" name="postText" type="text">
                <button class="form-btn" name="addPhotoToPost"><i class="fa fa-camera" aria-hidden="true"></i></button>
                <input class="hidden" id="addPhotoToPost" name="UploadForm[imageFile]" type="file">
                <button class="form-btn" name="sendPost"><i class="fa fa-comment" aria-hidden="true"></i></button>
            </div>       
        </div>
        <div class="posts">
            <p>This will be your wall...</p>
        </div>
    </div>

    <aside class="right">

    </aside>
</div>

<footer class="footer">
    <p class="footer-copyright">© <span class="footer-year">{{currentYear}}</span> Fintegro Company. All rights reserved.</p>
</footer>



