<div class="profile-settings">
    <div class="user-info">
        <div class="photo-wrapper">
            <img class="user-photo" src="{{#if profile.photo}}{{profile.photo}}{{else}}../img/default-user.jpg{{/if}}" alt="user_photo">
        </div>
        <p class="username">{{profile.firstName}} {{profile.lastName}}</p>
        <p class="user-quote">{{profile.quote}}</p>
    </div>
    {{!-- tabs --}}
    <div class="tabs"> 
        <ul class="tab-caption">
            <li class="item"><a class="link active" href="#">Profile</a></li>
            <li class="item"><a class="link" name="albumsList" href="#">Albums</a></li>
            <li class="item"><a class="link" href="#">Create Album</a></li>
        </ul>
        {{!-- 1st TAB --}}
        <div class="tab-content active">
            <div class="wrapper">
                <div class="input-wrapper">
                    <label class="label" for="firstname">Firstname</label>
                    <input class="input" type="text" name="firstname" value="{{profile.firstName}}">
                </div>
                <div class="input-wrapper">
                    <label class="label" for="lastname">Lastname</label>
                    <input class="input" type="text" name="lastname" value="{{profile.lastName}}">
                </div>
            </div>

            <div class="wrapper">
                <div class="input-wrapper">
                    <label class="label" for="quote">Quote</label>
                    <textarea class="textarea" type="text" name="quote" rows="3">{{profile.quote}}</textarea>
                </div>
            </div>

            <div class="wrapper">
                <div class="input-wrapper">
                    <label class="label" for="lived">Lived</label>
                    <input class="input" type="text" name="lived" value="{{profile.lived}}">
                </div>
                <div class="input-wrapper">
                    <label class="label" for="from">From</label>
                    <input class="input" type="text" name="from" value="{{profile.from}}">
                </div>
            </div>

             <div class="wrapper">
                 <div class="input-wrapper">
                     <label class="label" for="went">Went</label>
                    <input class="textarea" type="text" name="went" value="{{profile.went}}">
                 </div>
            </div>

            <div class="wrapper">
                <div class="input-wrapper">
                    <label class="label" for="photo">Profile photo</label>
                    <input class="input" type="file" name="UploadForm[imageFile]">
                    <p class="input-desc">File must be in "png, jpg, gif" format, and less than 10mb.</p>
                </div>
            </div>

            <div class="wrapper">
                <button class="button" name="updateProfile">Update</button>
            </div>
            
            <div class="wrapper">
                <a href="#" class="remove-link" name="removeProfile">Remove profile</a>
            </div>
            
        </div>

        {{!-- 2nd TAB --}}
        <div class="tab-content" name="albumsContainer">
            <div class="wrapper">
                <img class="loading" src="img/Cube.svg" alt="cube">
            </div>
        </div>
        {{!-- 3rd TAB --}}
        <div class="tab-content">
            <div class="wrapper">
                <label class="label" for="createAlbum">Album name</label>
                <input class="input" name="createAlbum" type="text">
                <button class="button" id="createAlbum">Create</button>
            </div>
            
        </div>
    </div>
    
</div>