<p class="results-title">Search results:</p>
<div class="search-results">
    {{#each profiles}}
        <div class="results-item">
            <img class="user-bg" src="img/searchUserBG.jpg" alt="profile_bg">
            <div class="photo-wrapper">
                <img class="user-photo" src="{{#if this.photo}}{{this.photo}}{{else}}img/default-user.jpg{{/if}}" alt="profile_Photo">
            </div>
            <div class="user-info">
                <a class="username" href="#" data-id="{{this.user_id}}" name="friendName">{{this.firstname}} {{this.lastname}}</a>
                <p class="user-quote">{{this.quote}}</p>
            </div>
            <div class="buttons" data-id="{{this.user_id}}">
                <button name="userFollow">
                    <i class="fa fa-user-plus"></i>
                    <p>Friend</p>
                </button>
                <button name="userBlock">
                    <i class="fas fa-user-times"></i>
                    <p>Enemy</p>
                </button>

            </div>
        </div>
    {{else}}
        Nothing was found...
    {{/each}}
</div>
<div class="back">
    <button class="button" name="backToWall">Back to Wall</button>
</div>

