{{#each posts}}
<div class="posts-item">
    <div class="info">
        <div class="user-info">
            <div class="photo-wrapper">
                <img class="user-photo" src="{{#if this.user.photo}}{{this.user.photo}}{{else}}img/default-user.jpg{{/if}}" alt="UserPhoto">
            </div>
            <a class="post-username" href="#">
                {{#if this.user.firstname}}{{this.user.firstname}}{{else}}Firstname{{/if}} 
                {{#if this.user.lastname}}{{this.user.lastname}}{{else}}Lastname{{/if}}
            </a>
        </div>
        <p class="post-date">{{this.date}}</p>
    </div>
    <div class="post-content">
        <p class="text">{{this.text}}</p>
        <div class="media">
            {{#each mediaList}}
                <img class="media-img" src="{{this.url}}" alt="post_photo">
            {{/each}}
        </div>
    </div>
    <div class="post-links" data-id="{{this.id}}">
        <a  class="link" href="#" name="commentPost">Comment</a>
        <a  class="link" href="#" name="removePost">Remove post</a>
    </div>
</div>
{{else}}
    The wall is empty...
{{/each}}